[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord="*"
supabase="*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start="python ./__main__.py"