[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord="==1.7.3"
supabase="==0.7.1"
python-dotenv = "==0.21.0"
aiohttp = "==3.7.4.post0"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
chardet = "==4.0.0"
"discord.py" = "==1.7.3"
postgrest-py = "==0.10.3"
aiocron = "*"
pytz = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.11"

[scripts]
start="python ./__main__.py"
