[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord="*"
supabase="==0.7.1"
python-dotenv = "==0.21.0"
aiohttp = "==3.7.4.post0"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
chardet = "==4.0.0"
"discord.py" = "==1.7.3"
postgrest-py = "==0.10.3"
aiocron = "==1.8"
pytz = "==2023.3.post1"
anyio = "==4.0.0"
certifi = "==2023.7.22"
charset-normalizer = "==3.2.0"
click = "==8.1.7"
click-log = "==0.4.0"
colorama = "==0.4.6"
croniter = "==1.4.1"
dataclasses = "==0.6"
deprecation = "==2.1.0"
docutils = "==0.20.1"
dotty-dict = "==1.3.1"
gitdb = "==4.0.10"
gitpython = "==3.1.37"
gotrue = "==0.5.4"
h11 = "==0.14.0"
httpcore = "==0.16.3"
httpx = "==0.23.3"
idna = "==3.4"
importlib-metadata = "==6.8.0"
invoke = "==1.7.3"
"jaraco.classes" = "==3.3.0"
keyring = "==24.2.0"
more-itertools = "==10.1.0"
multidict = "==6.0.4"
nh3 = "==0.2.14"
packaging = "==23.1"
pkginfo = "==1.9.6"
pydantic = "==1.10.13"
pygments = "==2.16.1"
python-dateutil = "==2.8.2"
python-gitlab = "==3.15.0"
python-semantic-release = "==7.32.1"
pywin32-ctypes = "==0.2.2"
readme-renderer = "==42.0"
realtime = "==0.0.5"
requests = "==2.31.0"
requests-toolbelt = "==1.0.0"
rfc3986 = "==1.5.0"
semver = "==2.13.0"
six = "==1.16.0"
smmap = "==5.0.1"
sniffio = "==1.3.0"
storage3 = "==0.3.6"
supafunc = "==0.2.2"
tomlkit = "==0.12.1"
tqdm = "==4.66.1"
twine = "==3.8.0"
typing-extensions = "==4.8.0"
tzdata = "==2023.3"
tzlocal = "==5.0.1"
urllib3 = "==2.0.5"
websockets = "==10.4"
yarl = "==1.9.2"
zipp = "==3.17.0"
black = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.10.12"

[scripts]
start="python ./__main__.py"
format="isort . && black ."