[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord="*"
supabase="*"
python-dotenv = "==0.21.0"
"discord.py" = "*"
mypy-extensions = "==0.4.3"
supafunc = "*"
pytest = "*"
pytest-asyncio = "*"
aiocron = "*"
pytz = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.11.2"

[scripts]
start="python ./__main__.py"
